.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 25px;
  gap: 10px;
}

.test-button {
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  background-color: rgb(150, 0, 0);
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  border-radius: 5rem;
}

.filter-slider {
  accent-color: rgb(150, 0, 0);
  width: 15rem;
}

.filter-select {
  width: 15rem;
  height: 2.3rem;
  font-size: 2rem;
}
